@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #invoice-print-area, #invoice-print-area * {
    visibility: visible;
  }
  #invoice-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm !important;
    min-height: 297mm !important;
    margin: 0 !important;
    padding: 16mm 16mm 12mm 16mm !important;
    box-shadow: none !important;
  }
  @page {
    size: A4;
    margin: 0;
  }
}
